<div class="row">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">User</div>
				<div class="panel-body text_center">
					<strong><%= @other.name %></strong>
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Chat with <%= @other.name %>
				</div>
				<div class="panel-body">
					<div class="container col-md-12">
						<%= bootstrap_form_for [@chat, @chat.messages.new] do |f| %>
							<div class="form-group">
								<%= f.text_area :content, id: "new_message", placeholder: "Send a Message", class: "form-control" %>
							</div>

							<%= f.hidden_field :user_id, value: current_user.id %>

							<div class="actions">
								<%= f.submit "Send Message", class: "btn btn-primary" %>
							</div>
						<% end %>
					</div>
				</div>
			</div>

			<div id="chat" class="panel panel-primary">
				<div class="panel-heading">Message History</div>
				<div class="panel-body">
					<%= render 'messages' %>
				</div>
			</div>
		</div>
	</div>
</div>