<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Your Chats</div>
			<div class="panel-body">
				<% @chats.each do |chat| %>
					<% other = chat.sender == current_user ? chat.recipient : chat.sender %>

					<%= link_to chat_messages_path(chat) do %>
						<div class="row conversation">
							<div class="col-md-4">
								<%= chat.messages.last.message_time unless chat.messages.empty? %>
							</div>
							<div class="col-md-6">
								<%= chat.messages.last.content unless chat.messages.empty? %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<% if(current_user.role == 'admin') %>
			<div class="panel panel-default">
				<div class="panel-heading">All Chats</div>
				<div class="panel-body">
					<% @chats_all.each do |chat| %>
						<% other = chat.sender == current_user ? chat.recipient : chat.sender %>

						<% link_to chat_messages_path(chat) do %>
							<div class="row conversation">
								<div class="col-md-4">
									<%= chat.messages.last.message_time unless chat.messages.empty? %>
								</div>
								<div class="col-md-6">
									<%= chat.messages.last.content unless chat.messages.empty? %>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>