<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<% role = current_user.admin ? "Admin" : current_user.role %>
		<p> Hi there, <strong><%= current_user.name %> (<%= role %>)</strong>, continue chatting! <%= link_to "New Chat!", users_path, class: "btn btn-lg btn-success pull-right" %></p>
		<br>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading"><strong>Your Chats</strong></div>
			<div class="panel-body">
				<% @chats.each do |chat| %>
					<% other = chat.sender == current_user ? chat.recipient : chat.sender %>

					<%= link_to chat_messages_path(chat) do %>
						<div class="row conversation">
							<div class="col-md-2">
								<%= other.name %>
							</div>
							<div class="col-md-4">
								<%= chat.messages.last.message_time unless chat.messages.empty? %>
							</div>
							<div class="col-md-6">
								<%= chat.messages.last.content unless chat.messages.empty? %>
							</div>
						</div>
						<br>
					<% end %>
				<% end %>
			</div>
		</div>

		<% if(current_user.admin) %>
			<div class="panel panel-info">
				<div class="panel-heading"><strong>All Chats</strong></div>	
				<div class="panel-body">
					<% @allChats.each do |chat| %>
						<% other = chat.sender == current_user ? chat.recipient : chat.sender %>

						<%= link_to chat_messages_path(chat) do %>
							<div class="row conversation">
								<div class="col-md-2">
									<%= other.name %>
								</div>
								<div class="col-md-4">
									<%= chat.messages.last.message_time unless chat.messages.empty? %>
								</div>
								<div class="col-md-6">
									<%= chat.messages.last.content unless chat.messages.empty? %>
								</div>
							</div>
						<% end %>
						<br>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>